{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Personalized healthcare system</title>
</head>
<body>

<div class="container">
    <h1 style="text-align: center">Boun Health App</h1>

    <form enctype="multipart/form-data" id="health_record_form" action="" method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label for="rid">RID</label>
            <input type="number" class="form-control" id="rid" placeholder="12345" required/>
        </div>

        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" id="first_name" placeholder="Cem" required/>
        </div>

        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" id="last_name" placeholder="Kurtoglu" required/>
        </div>

        <div class="form-group">
            <label for="birth_date">Birth Date</label>
            <input type="date" class="form-control" id="birth_date" placeholder="20.12.1990" required/>
        </div>

        <div class="form-group">
            <label for="gender">Gender</label>
            <select class="form-control" id="gender" required>
                <option value="Male" selected>Male</option>
                <option value="Female">Female</option>
            </select>
        </div>

        <div class="form-group">
            <label for="marital_status">Marital Status</label>
            <select class="form-control" id="marital_status" required>
                <option value="Never Married" selected>Never Married</option>
                <option value="Married">Married</option>
                <option value="Widowed">Widowed</option>
                <option value="Divorced">Divorced</option>
            </select>
        </div>

        <div class="form-group">
            <label for="exam_date">Exam Date</label>
            <input type="date" class="form-control" id="exam_date" placeholder="20.12.1990" required/>
        </div>
        <div class="form-group">
            <label for="cdrsb">CDRSB</label>
            <input type="number" step="0.01" class="form-control" id="cdrsb" placeholder="0.5" required/>
        </div>
        <div class="form-group">
            <label for="adas11">ADAS11</label>
            <input type="number" step="0.01" class="form-control" id="adas11" placeholder="0.5" required/>
        </div>
        <div class="form-group">
            <label for="adas13">ADAS13</label>
            <input type="number" step="0.01" class="form-control" id="adas13" placeholder="0.5" required/>
        </div>

        <div class="form-group">
            <label for="mmse">MMSE</label>
            <input type="number" class="form-control" id="mmse" placeholder="29" required/>
        </div>

        <div class="form-group">
            <label for="ravlt_immediate">RAVLT_immediate</label>
            <input type="number" class="form-control" id="ravlt_immediate" placeholder="29" required/>
        </div>

        <div class="form-group">
            <label for="RAVLT_learning">RAVLT_learning</label>
            <input type="number" class="form-control" id="ravlt_learning" placeholder="5" required/>
        </div>

        <div class="form-group">
            <label for="RAVLT_forgetting">RAVLT_forgetting</label>
            <input type="number" class="form-control" id="ravlt_forgetting" placeholder="5" required/>
        </div>

        <div class="form-group">
            <label for="faq">FAQ</label>
            <input type="number" class="form-control" id="faq" placeholder="5" required/>
        </div>

        <div class="form-group">
            <label for="ventricles">Ventricles</label>
            <input type="number" class="form-control" id="ventricles" placeholder="29225" required/>
        </div>

        <div class="form-group">
            <label for="Hippocampus">Hippocampus</label>
            <input type="number" class="form-control" id="hippocampus" placeholder="7744" required/>
        </div>

        <div class="form-group">
            <label for="WholeBrain">Whole Brain</label>
            <input type="number" class="form-control" id="whole_brain" placeholder="1166710" required/>
        </div>

        <div class="form-group">
            <label for="Entorhinal">Entorhinal</label>
            <input type="number" class="form-control" id="entorhinal" placeholder="3251" required/>
        </div>

        <div class="form-group">
            <label for="Fusiform">Fusiform</label>
            <input type="number" class="form-control" id="fusiform" placeholder="18989" required/>
        </div>

        <div class="form-group">
            <label for="MidTemp">Mid Temp</label>
            <input type="number" class="form-control" id="mid_temp" placeholder="20715" required/>
        </div>

        <div class="form-group">
            <label for="ICV">ICV</label>
            <input type="number" class="form-control" id="icv" placeholder="1668230" required/>
        </div>

        <div class="form-group">
            <label for="Diagnosis">Diagnosis</label>
            <input type="text" class="form-control" id="diagnosis" placeholder="MCI" required/>
        </div>

        <small id="message-content"></small>

        <button type="submit" value="Submit" id="submit" class="btn btn-primary mb-2">Submit Form</button>

    </form>

</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static 'js/submitFunction.js' %}"></script>


</body>
</html>