<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Search Patients</title>

    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
</head>
<body class="bg-light">
<!-- Navbar -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/"> <-- </a>

</nav><!-- Navbar End -->
<div class="container">
    <div class="py-5 text-center">
        <h2>Search Patients</h2>

    </div>
    <label>Go To Patient Record By ID</label>
    <div class="flex-row justify-content-center d-flex">
        <div class="input-group mb-5 ">
            <input id="patient-id-input" type="text" class="form-control" placeholder="Patient ID"
                   aria-label="Recipient's username" aria-describedby="patient-id-button">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="patient-id-button">Go</button>
            </div>
        </div>

    </div>
    <form id="search-form" method="POST" action="." enctype="multipart/form-data">
        {% csrf_token %}
        <label>Search Patients by name and/or lastname</label>
        <div class="flex-row justify-content-center d-flex">
            <div class="input-group mb-5 ">
                <input id="search-patient" type="text" class="form-control" placeholder="Patient name and/or lastname"
                       aria-describedby="patient-search-button">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" id="patient-search-button">Search</button>

                </div>
            </div>

        </div>
    </form>


    <label>Search Results</label>

    <ul id="results" class="list-group">
    </ul>
</div>

</body>

<script
        src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
        crossorigin="anonymous"></script>

<script type="text/javascript">

    $('#patient-id-button').on('click', function (e) {
        e.preventDefault();
        window.location.href = "/patient/" + $('#patient-id-input').val()

    })


    $('#search-form').on('submit', function (e) {
        e.preventDefault();
        setTimeout((function () {
            $.ajax({
                url: "/api/search/?search=" + $('#search-patient').val().trim(),


                success: function (response) {

                    console.log(response)
                    let results = $('#results')
                    results.empty()

                    for (const responseKey in response) {
                        results.append($('<li>', {class: "list-group-item"}).append($('<a>', {
                            href: '/patient/' + response[responseKey]['id'],
                            text: response[responseKey]['id'] + " " + response[responseKey]['first_name'] + ' ' + response[responseKey]['last_name']
                        })))

                    }

                },
                error: function (error) {
                    console.log(error);


                }
            });

        }), 800)
    });


</script>


</html>


